**/local-data/**
**/reference-sequence-data/**
**/user_log_folder/**
output.log
**/triggers.png
**/accuracy.png
**/running.png
**/prediction.png
**/period-data/**
**/cli/wip/**

# Caches
**/.ipynb_checkpoints/**
*.pyc
**/__pycache__/**
*.swp

# Packages
**/dist/**
**/open_optical_gating.egg-info/**

# Unit test / coverage reports
.coverage
coverage.xml
.tox
.pytest_cache

.DS_Store

.vscode
