**/local-data/**
**/period-data/**
output.log
**/triggers.png
**/accuracy.png
**/running.png

# Caches
**/.ipynb_checkpoints/**
*.pyc
**/__pycache__/**
*.swp

# Packages
**/dist/**

# Unit test / coverage reports
.coverage
coverage.xml
.tox
.pytest_cache

.DS_Store

.vscode
