[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
pprint = "*"
matplotlib = "*"
pillow = "*"
serial = "*"
scikit-image = "*"
tqdm = "*"
picamera = "*"

[packages.fastpins]
git = "https://github.com/abdrysdale/fastpins"
