{% extends "base.html" %}

{% block content %}
<style>
	.instructions_container {
		top:5%;
		width:100%;
		left:20%
		text-align:left;
		position:absolute;
		font-size:2vmin;
		}
	.left_container {
        top:10%;
        left:10%;
        width:37%;
        height:200%;
        position:absolute;
        }
	.right_container {
        top:10%;
        right:10%;
        width:37%;
        height:100%;
        position:absolute;
        }
</style>
<div class="left_container">
	<div class = "live_feed_title">Instructions</div> 
	<div class = "instructions_container">
		<p>
			This 'Sync' tab is <b>not</b> currently well optimised. In order for it to function smoothly, it must be used in the following way.
		</p>
		<ol>
			<li> Press 'Start' to begin the heart-sync.</li>
			<li> Press 'Show Live Data' to see live readouts.</li>
			<li> To stop the sync, press 'Stop' <b>or</b> wait for your selected time limit to be reached.</li>
			<li> Once the sync is complete (and the live readouts have dissappeared) you may select the 'Analysis' tab so assess the performance of the most recent sync.</li>
			<li> From here, you can view and download the log files and plots.</li>
			<li> You can return to the 'Sync' tab to perform further heart-syncs!</li>
		</ol>
		<br>
		<p>Issues and how to solve them:</p>
		<ul>
			<li> The 'Show Live Data' button is the best way to verify if the sync is running. If no outputs are shown, the Pi Camera has failed to initialise. This requires the web-server to be manually restarted in the Pi console.</li>
			<li> If the 'Post' tab returns an error page, this does <b>not</b> mean your sync was not successful. You can still return to the 'Sync' page to complete further syncs.</li>
		</ul>
		<br>
		<p style = "color:red;"> Pressing the 'Caution' dropdown in the top-right will allow you to see a live feed of the Pi Camera with the current settings:</p>
		<ul style = "color:red;">
			<li style = "color:red;"> Each setting can be changed by pressing enter when the relevent input field is selected.</li>
			<li style = "color:red;"> The live feed will immediately update with these new settings.</li>
			<li style = "color:red;"> When you return to the 'Sync' tab, the Pi will restart to release the camera; it will take 30-60 seconds for the web-page to refresh.</li>
		</ul>
	</div>
</div>

 <div class = "right_container">
	<div class = "debug_title">Setup and Debug</div>
	
	<button type="button" class="update_button" style = "top:6%;"> <a href = "/start-live/">Start</a></button>
	<button type="button" class="update_button" style = "top:13%; background-color:LightGoldenRodYellow;"> <a href = "/print-data/">Show Live Data</a></button>
	<button type="button" class="trigger_button" style = "top:20%;"> <a href = "/stop-live/">Stop</a></button>     

	<div class = "integer_description" style = "top:28%; font-size:2.5vmin;">Time limit =</div>
		<form name = "time_limit_seconds" action ="{{url_for('update_setting_live')}}" method = "POST">
			<input class = "integer_updater" style = "top:28%;" type = "number" name = "time_limit_seconds" value = "{{time_limit_seconds}}" min = "5">
		</form>
		
	<div class = "integer_description" style = "top:34%;font-size:2.5vmin;">Trigger limit =</div>
		<form name = "trigger_limit" action ="{{url_for('update_setting_live')}}" method = "POST">
			<input class = "integer_updater" style = "top:34%;" type = "number" name = "trigger_limit" value = "{{trigger_limit}}" min = "1">
		</form>
		
	<div class = "integer_description" style = "top:40%; font-size:2.5vmin;">Update after n triggers =</div>
		<form name = "update_after_n_criterions" action ="{{url_for('update_setting_live')}}" method = "POST">
			<input class = "integer_updater" style = "top:40%;" type = "number" name = "update_after_n_criterions" value = "{{trigger_update_number}}" min = "1">
		</form>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<div id="data" style = "white-space:pre-wrap; width:100%; height:auto; top:48%; text-align:center; position:absolute; font-size:3vmin; font-weight:bold; font-family:'Courier'; background-color: LightGray;"></div>
	{% for i, j, k, l in data: %}
		<script>
		  $("#data").text(" Time = {{i}} \n Triggers = {{j}} \n Framerate = {{k}} \n State = {{l}}")
		</script>
	{% endfor %}
</div>
{% endblock %}
