{% extends "base.html" %}

{% block content %}
<style>
	.instructions_container {
		top:3%;
		width:100%;
		left:20%
		text-align:left;
		position:absolute;
		font-size:2vmin;
		}
	.left_container {
        top:10%;
        left:10%;
        width:37%;
        height:200%;
        position:absolute;
        }
	.right_container {
        top:10%;
        right:10%;
        width:37%;
        height:100%;
        position:absolute;
        }
</style>

<div class="left_container">
	<div class = "live_feed_title">Instructions</div> 
	<div class = "instructions_container">
		<ol>
			<li> Press 'Start' to begin the heart-sync.</li>
			<li> An image window will appear.</li>
			<li> Scrub through the frames and enter the frame you wish to lock with.
			<li> You can press 'Abort' to discard these frames and start again if required.</li>
			<li> The sync will now proceed and live information will appear.</li>
			<li> You can press 'Abort' at any time to end the sync.</li>
			<li> Once the sync is completed or aborted you can choose to select the 'Analysis' tab to assess the performance of the most recent sync.</li>
			<li> You can return to the 'Sync' tab to perform further heart-syncs!</li>
		</ol>
		</br>
		<p style = "color:red;"> Pressing the 'Caution' dropdown in the top-right will allow you to see a live feed of the Pi Camera for debugging:</p>
		<ul style = "color:red;">
			<li style = "color:red;"> Each setting can be changed by pressing enter when the relevent input field is selected.</li>
			<li style = "color:red;"> The live feed will immediately update with these new settings.</li>
			<li style = "color:red;"> When you return to the 'Sync' tab, the Pi will reboot to release the camera. It will take 30-60 seconds for the web-page to refresh.</li>
		</ul>
	</div>
</div>

 <div class = "right_container">
	 <div class = "debug_title">Run</div>
	{% if index_setting == "Setup" %}
		<button type="button" class="update_button" style = "top:7%;"> <a href = "/start-live/">Start</a></button>
	 
		<div class = "integer_description" style = "top:15%; font-size:2.5vmin;">Time limit =</div>
			<form name = "time_limit_seconds" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:15%;" type = "number" name = "time_limit_seconds" value = "{{time_limit_seconds}}" min = "5">
			</form>
			
		<div class = "integer_description" style = "top:22%;font-size:2.5vmin;">Trigger limit =</div>
			<form name = "trigger_limit" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:22%;" type = "number" name = "trigger_limit" value = "{{trigger_limit}}" min = "1">
			</form>
			
		<div class = "integer_description" style = "top:29%; font-size:2.5vmin;">Update after n triggers =</div>
			<form name = "update_after_n_criterions" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:29%;" type = "number" name = "update_after_n_criterions" value = "{{trigger_update_number}}" min = "1">
			</form>
			
		<div class = "integer_description" style = "top:36%; font-size:2.5vmin;">Shutter speed =</div>
			<form name = "shutter_speed_us" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:36%;" type = "number" name = "shutter_speed_us" value = "{{shutter_speed_us}}" min = "1">
			</form>
			
		<div class = "integer_description" style = "top:43%; font-size:2.5vmin;">Contrast =</div>
			<form name = "contrast" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:43%;" type = "number" name = "contrast" value = "{{contrast}}" min = "-100" max = "100">
			</form>
			
		<div class = "integer_description" style = "top:50%; font-size:2.5vmin;">Framerate =</div>
			<form name = "framerate" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:50%;" type = "number" name = "framerate" value = "{{framerate}}" min = "20" max = "88">
			</form>
			
		<div class = "integer_description" style = "top:57%; font-size:2.5vmin;">Save n frames =</div>
			<form name = "save_first_n_frames" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:57%;" type = "number" name = "save_first_n_frames" value = "{{save_first_n_frames}}" min = "0" max = "1000">
			</form>
			
		<div class = "integer_description" style = "top:64%; font-size:2.5vmin;">Log level =</div>
			<form name = "log_level" action ="{{url_for('update_setting_live')}}" method = "POST">
				<input class = "integer_updater" style = "top:64%;" type = "text" name = "log_level" value = "{{log_level}}">
			</form>
		
		
	{% elif index_setting == "PickRefFrame" %}
		<button type="button" class="trigger_button" style = "top:7%;"> <a href = "/stop-live/">Abort</a></button> 
	
		<div class = "integer_description" style = "top:15%; font-size:2.5vmin; color:red;">Ref frame selection =</div>
		<form  name = "test" action = "{{url_for('print_data')}}" method = "POST">
				<input class = "integer_updater" style = "top:15%; color:red;" type = "number" name = "test" value = 0 min = 0 max = "{{ref_sequence_length}}">
		</form>
		
		<div id="myCarousel" class="carousel" data-ride="carousel" style = "top:21%; width:100%; margin-left:auto; margin-right:auto;">
			<div class="carousel-inner" role = "listbox">
				{% for i, image_path in ref_frame_paths %}
					{% if image_path == "img_000.jpeg" %}
						<div class = "item active">
							<img class = "image_container" style = "width:100%; margin-left:auto; margin-right:auto;" src = "{{url_for('static', filename = image_path )}}" alt = "doge">
							<div class = "carousel-caption">
								<p style = "font-size:2.5vmin;">{{i}}</p>
							</div>
						</div>
					{% else %} 
						<div class = "item">
							<img class = "image_container" style = "width:100%; margin-left:auto; margin-right:auto;" src = "{{url_for('static', filename = image_path )}}" alt = "doge">
							<div class = "carousel-caption">
								<p style = "font-size:2.5vmin;">{{i}}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<a class="carousel-control left" role = "button" href = "#myCarousel" data-slide = "prev" onclick = "$('#myCarousel').carousel('prev')$">
				<span class = "icon-prev" aria-hidden = "true"></span>
				<span class = "sr-only">Previous</span>
			</a>
			<a class = "carousel-control right" role = "button" href = "#myCarousel" data-slide = "next" onclick = "$('#myCarousel').carousel('next')$">
				<span class = "icon-next" aria-hidden = "true"></span>
				<span class = "sr-only">Next</span>
			</a>
		</div>
		<script src = "js/query-1.7.1.min.js"></script>
		<script src = "js/bootstrap.js"></script>
		
	{% elif index_setting == "Running" %}
		<button type="button" class="trigger_button" style = "top:7%;"> <a href = "/stop-live/">Abort</a></button> 
	
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<div id="data" style = "white-space:pre-wrap; width:100%; height:auto; top:15%; text-align:center; position:absolute; font-size:3vmin; font-weight:bold; font-family:'Courier'; background-color: #F8F8F8;"></div>
		
			{% for i, j, k, l in data: %}
				<script>
					$("#data").text(" Time = {{i}} / {{time_limit_seconds}} \n Triggers = {{j}} / {{trigger_limit}} \n Framerate = {{k}} \n State = {{l}}")
				</script>
			{% endfor %}
	
	{% endif %}
</div>
{% endblock %}
