{% macro layout_parameters(dict) -%}
{% for key, val in dict.items() %}
<div class="parameters-item">
    {% if val is mapping %}
    <!-- <p>dict</p> -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{ key }}">{{ key }}</button>
    <div id="{{ key }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content parameters-form">
                <input type="hidden" id="{{ key }}" name="{{ key }}" value="">
                {{ layout_parameters(val) }}
            </div>
        </div>
    </div>
    {% elif val is integer %}
    <!-- <p>int</p> -->
    <label for="{{ key }}">{{ key }}</label><br>
    <input type="number" id="{{ key }}" name="{{ key }}" value="{{ val }}"><br>
    {% elif val is float %}
    <!-- <p>float</p> -->
    <label for="{{ key }}">{{ key }}</label><br>
    <input type="number" id="{{ key }}" name="{{ key }}" value="{{ val }}"><br>
    {% elif val is string %}
    <!-- <p>str</p> -->
    <label for="{{ key }}">{{ key }}</label><br>
    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ val }}"><br>
    {% elif val is sequence %}
    <!-- <p>list</p> -->
    <label for="{{ key }}">{{ key }}</label><br>
    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ val }}"><br>
    {% endif %}
</div>
{% endfor %}
{%- endmacro %}

{% extends "base.html" %}
{% block content %}
<form class="parameters-form" action="{{ url_for('parameters') }}" method="post" enctype='application/json'>
    {{ layout_parameters(settings) }}
    <input type="submit" value="Submit">
</form>
{% endblock %}